#mail {
    height: 130px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#pic_mail_personal {
    width: 302px;
    height: 100px;
    margin-top: 0px;
    -webkit-filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, .07));
    opacity: 0.8;
}

#pic_mail_work {
    width: 302px;
    height: 100px;
    margin-top: 0px;
    -webkit-filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, .07));
    opacity: 0.8;
}

#pic_mail_blank {
    width: 25px;
    height: 100px;
    margin-top: 0px;
    opacity: 0;
}